html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.navbar-nav .active {
    color: #1bc98e;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.navbar-fixed-top {
    z-index: 200;
}

a.navbar-brand img {
    margin-left: 10px;
}

.navbar-inverse {
    background-color: #252830;
    border-bottom: none;
}

.navbar-nav {
    float: right;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c4c7d0;
    transition: .25s color ease;
    border-bottom: 4px solid #252830;
}

.navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    border-bottom: 4px solid #252830;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    border-bottom: 4px solid #1bc98e;
}

.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus {
    color: white;
    background-color: transparent;
    border-bottom: 4px solid #1ca8dd;
}

.fa-user {
    border-right: 1px solid #1ca8dd;
    padding-right: 5px;
    margin-right: 5px;
}

.user-name {
    display: inline-block;
    margin-left: 50px;
    color: #1ca8dd;
    padding: 15px;
}

.floating-button {
    position: absolute;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #d0d0d0;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.3);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-button:hover {
    cursor: pointer;
    background-color: #e1e1e1;
}

.floating-button .fa {
    color: #2f3443;
    vertical-align: middle;
}

.floating-button .fa-heart, .floating-button .fa-reply-all, .floating-button .fa-pencil {
    font-size: 20px;
}

.floating-button .fa-plus {
    font-size: 25px;
}

.floating-button-add {
    width: 75px;
    height: 75px;
    bottom: 25px;
    right: 15px;
}

.floating-button-all, .floating-button-favorites {
    width: 50px;
    height: 50px;
    bottom: 190px;
    right: 15px;
}

.floating-button-edit {
    width: 50px;
    height: 50px;
    bottom: 120px;
    right: 15px;
}

.faded-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: #E9E9E9;
    opacity: 0.4;
}

.is-blurred {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}